 /*@import '~antd/dist/antd.css';*/
 @import '~github-markdown-css/github-markdown.css';



 html,
 body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#263238;
    background-color:#18191a;
    background-color:#fafafa;
    height:100%;
    /*overflow:hidden;*/

 }
 #__next {
    height:100%;
}
 .named-fence-block {
  position: relative;
  padding-top: 2em;
  /*background: #f0f0f0;*/
  background: #282c34;
  background: #263238;
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  margin:10px 0;
  padding-left:10px;
  padding-right:10px;
}

.named-fence-filename {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px;
  font-weight: bold;
  color: #000000;
  background: #c0c0c0;
  opacity: 0.6;
}


pre {
    background-color:#f0f0f0;
}
.katex-html {
    display:none;
}
.CodeMirror {
    height:100%!important;
    background-color: #242526!important;
color: #EEFFFF;
}
.CodeMirror-gutters{
    background-color: #18191a!important;
    color:#3a3b3c!important;
}
.markdown-body {
		box-sizing: border-box;
		/*min-width: 200px;*/
		/*max-width: 980px;*/
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
/*.cm-s-material.CodeMirror {*/
/*}*/
.cm-s-material .CodeMirror-gutters {
    background: #18191a;
    color: transparent;
}
.CodeMirror-linenumber {
    color: white;
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

/*.hljs {*/
  /*color: #abb2bf;*/
  /*background: #282c34;*/
/*}*/

/*.hljs-comment,*/
/*.hljs-quote {*/
  /*color: #5c6370;*/
  /*font-style: italic;*/
/*}*/

/*.hljs-doctag,*/
/*.hljs-keyword,*/
/*.hljs-formula {*/
  /*color: #c678dd;*/
/*}*/

/*.hljs-section,*/
/*.hljs-name,*/
/*.hljs-selector-tag,*/
/*.hljs-deletion,*/
/*.hljs-subst {*/
  /*color: #e06c75;*/
/*}*/

/*.hljs-literal {*/
  /*color: #56b6c2;*/
/*}*/

/*.hljs-string,*/
/*.hljs-regexp,*/
/*.hljs-addition,*/
/*.hljs-attribute,*/
/*.hljs-meta-string {*/
  /*color: #98c379;*/
/*}*/

/*.hljs-attr,*/
/*.hljs-variable,*/
/*.hljs-template-variable,*/
/*.hljs-type,*/
/*.hljs-selector-class,*/
/*.hljs-selector-attr,*/
/*.hljs-selector-pseudo,*/
/*.hljs-number {*/
  /*color: #d19a66;*/
/*}*/

/*.hljs-symbol,*/
/*.hljs-bullet,*/
/*.hljs-link,*/
/*.hljs-meta,*/
/*.hljs-selector-id,*/
/*.hljs-title {*/
  /*color: #61aeee;*/
/*}*/

/*.hljs-built_in,*/
/*.hljs-title.class_,*/
/*.hljs-class .hljs-title {*/
  /*color: #e6c07b;*/
/*}*/

/*.hljs-emphasis {*/
  /*font-style: italic;*/
/*}*/

/*.hljs-strong {*/
  /*font-weight: bold;*/
/*}*/

/*.hljs-link {*/
  /*text-decoration: underline;*/
/*}*/
.anticon > svg{
    fill : #fff;
}
.ant-input-group {
   text-align:left; 
}
