.container {
    display:flex;
    /*border: 10px #000 dashed;*/
    /*grid-template-areas:*/
    /*' Preview Real';*/
    flex-direction:row;
    padding:0;
    margin:0;
    height:100%!important;
      /*grid-template-columns: 1fr 1fr;*/
    justify-content:space-evenly;
    background-color:transparent;
}
.area1 {

    /*background: #EFF0F0;*/
    /*width: 400px;*/
    width:100%;
    box-sizing: border-box;
    flex-grow: 1;
    display:grid;
    grid-template-areas:
        'A'
        'B'
        'C';
    /*width:50vw;*/
    /*overflow-x:auto;*/
    grid-template-columns: 100%;
    grid-template-rows: 40px auto 40px;
}
.markdown {
    background:  #404d5a;
    background:  #282c34;
    background:  #0d1117;
    background:  #fff;
    /*min-width: 200px;*/
    /*width: 400px;*/
    /*border:1px solid #c0c0c0;*/
    /*width:50vw;*/
    box-sizing: border-box;
    flex-grow: 1;
    padding-left:10px;
    padding-right:10px;
    scroll-behavior:smooth;
    overflow:auto;
    border-top-left-radius:0px;
    height:100%;
    overflow-x:hidden;
}
.react-codemirror2{
    /*height:80vh!important;*/
}
.Handler {
    cursor: ew-resize;
    width: 10px;
    height: 100px;
    margin: 0px -5px;
    background: lightblue;
    border: 2px solid gray;
    border-radius: 2px;
    text-align: center;
    z-index: 99999;
    overflow: hidden;  
    display: flex;
    align-items: center ;
}
.optionBar {
    display:flex;
    flex-direction: row;
}
.optionBar > button{
   all : unset; 
   padding: 0 10px;
   margin: 5px;
}
.optionBar > select{
   all : unset; 
   padding: 10px;
}
@media only screen and (max-width:800px){
    .react-codemirror2{
        height:40vh!important;
    }
    .container{
        flex-direction:column;
        justify-content:space-between;
        height:100%;
    }
    .area1 {
        min-height: 200px;
        height: 100px;
        height:100%;
        box-sizing: border-box;
        flex-grow: 1;
    }
}

.EditorBar {
    display:flex;
    background-color:#fafafa;
}
.EditorBar > button {
    all:unset;
    border-bottom-color:white;
    border-bottom-left-radius:0px;
    background-color:white;
    /*border-radius: 0.9px;*/
    /*margin-right:2px;*/
    padding:12px;
    line-height:16px;
    height:40px;
    font-size:16.8px;
    color:rgb(176, 190, 197);
    color:#546e7a;
    border-left: 1px solid #eeeeee ;
    border-right: 1px solid #eeeeee ;
}
.tabs > button{
    all:unset;
    border-bottom-color:white;
    border-bottom-left-radius:0px;
    background-color:white;
    /*border-radius: 0.9px;*/
    /*margin-right:2px;*/
    padding:12px;
    line-height:16px;
    height:40px;
    font-size:16.8px;
    border-left: 1px solid #eeeeee ;
}
.tabs > button:hover{
    color:#000;
    border-bottom-color:white;
}
.tabsDisabled {
    background-color:#fafafa!important;
}
.tabsDisabled :hover{
    background-color:#fafafa!important;
}
.divPreview {
    width:100%;
    flex-grow:1;
}
